<%- include("header") -%>

    <hr>
    <div class="container-fluid">
        <div class="card text-center">
            <div class="card-header">
                <h2>Bilancio</h2>
            </div>
            <div class="card-header">
                <div class="row">
                    <div class="col-md-6">
                        <h5>Hype</h5>
                    </div>
                    <div class="col-md-6">
                        <h5>PayPal</h5>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6">
                        <h5>
                            <%= totHype %>
                        </h5>
                    </div>
                    <div class="col-md-6">
                        <h5>
                            <%= totPayPal %>
                        </h5>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <hr>

    <div class="container-fluid">
        <div class="row align-items-start">
            <div class="d-grid gap-2 col-6 p-4">
                <button type="button" class="btn btn-outline-dark" data-bs-toggle="modal" data-bs-target="#modalSpese">Spese<i class="fa-solid fa-money-bill-transfer"></i></button>
            </div>
            <div class="d-grid gap-2 col-6 p-4">
                <button type="button" class="btn btn-outline-dark" data-bs-toggle="modal" data-bs-target="#modalEntrate">Entrate<i class="fa-solid fa-circle-dollar-to-slot"></i></button>
            </div>
        </div>
    </div>

    <hr>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <div class="card text-center">
                    <div class="card-header">
                        Totale spese dd/MM
                    </div>
                    <div class="card-body">
                        <table class="table table-striped table-hover">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Data</th>
                                    <th scope="col">Categoria</th>
                                    <th scope="col">Importo</th>
                                    <th scope="col">Conto</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% listaSpese.forEach(s => { %>
                                    <tr>
                                        <th scope="row">
                                            <%= s.titolo %>
                                        </th>
                                        <td>
                                            <%= s.data.toLocaleDateString("it-IT") %>
                                        </td>
                                        <td>
                                            <%= s.categoria %>
                                        </td>
                                        <td>
                                            <%= s.importo %>
                                        </td>
                                        <td>
                                            <%= s.conto %>
                                        </td>
                                    </tr>
                                    <% }); %>
                            </tbody>
                        </table>
                    </div>
                    <div class="card-footer text-muted">
                        Totale:
                        <%= totSpese%>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card text-center">
                    <div class="card-header">
                        Totale entrate dd/MM
                    </div>
                    <div class="card-body">
                        <table class="table table-striped table-hover">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Data</th>
                                    <th scope="col">Categoria</th>
                                    <th scope="col">Importo</th>
                                    <th scope="col">Conto</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% listaEntrate.forEach(e => { %>
                                    <tr>
                                        <th scope="row">
                                            <%= e.titolo %>
                                        </th>
                                        <td>
                                            <%= e.data.toLocaleDateString("it-IT") %>
                                        </td>
                                        <td>
                                            <%= e.categoria %>
                                        </td>
                                        <td>
                                            <%= e.importo %>
                                        </td>
                                        <td>
                                            <%= e.conto %>
                                        </td>
                                    </tr>
                                    <% }); %>
                            </tbody>
                        </table>
                    </div>
                    <div class="card-footer text-muted">
                        Totale:
                        <%= totEntrate%>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <hr>

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div id="lineChart" class="chartDiv"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <h1>ciao</h1>
            </div>
            <div class="col-sm-6">
                <h1>ciao</h1>
                <button id="btntest"></button>
            </div>
        </div>
    </div>

    <%- include("footer") -%>
        </body>



        <!-- SPESE -->

        <div class="modal fade" id="modalSpese" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Aggiungi nuova spesa</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form action="/addSpesa" method="post">
                            <div class="row">
                                <div class=" col-sm-12 mb-3 text-center">
                                    <label for="exampleFormControlInput1" class="form-label">Titolo spesa</label>
                                    <input type="text" class="form-control" id="exampleFormControlInput1" name="titoloSpesa">
                                </div>
                                <div class=" col-sm-12 mb-3 text-center input-group flex-nowrap">
                                    <span class="input-group-text" id="addon-wrapping">€</span>
                                    <input type="text" class="form-control" id="exampleFormControlInput1" name="importoSpesa">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6 text-center">
                                    <label for="selectcategoria" class="form-label">Categoria</label>
                                    <select id="selectcategoria" class="form-select" aria-label="Default select example" name="categoriaSpesa">
                                        <option selected>Scegli una categoria</option>
                                        <option value="Spesa">Spesa</option>
                                        <option value="Shopping">Shopping</option>
                                        <option value="Ristorante">Ristorante</option>
                                        <option value="Bar">Bar</option>
                                        <option value="Benzina">Benzina</option>
                                        <option value="Regali">Regali</option>
                                        <option value="Spesa">Spesa</option>
                                        <option value="Casa">Casa</option>
                                        <option value="Prelievi">Prelievi</option>
                                        <option value="Telefono">Telefono</option>
                                        <option value="Altro">Altro</option>
                              </select>
                                </div>

                                <div class="col-sm-6 text-center">
                                    <label for="selectcategoria" class="form-label">Conto</label>
                                    <select id="selectcategoria" class="form-select" aria-label="Default select example" name="contoSpesa">
                                        <option selected>Scegli un conto</option>
                                        <option value="Hype">Hype</option>
                                        <option value="PayPal">PayPal</option>
                                        <option value="Banca">Banca</option>
                              </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 mb-3 mt-3 text-center">
                                    <label for="exampleFormControlTextarea1" class="form-label">Descrizione/Note</label>
                                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="noteSpesa"></textarea>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annulla</button>
                                <button type="submit" class="btn btn-primary">Aggiungi</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!-- ENTRATE -->

        <div class="modal fade" id="modalEntrate" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Aggiungi nuova entrata</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form action="/addEntrata" method="post">
                            <div class="row">
                                <div class=" col-sm-12 mb-3 text-center">
                                    <label for="exampleFormControlInput1" class="form-label">Titolo entrata</label>
                                    <input type="text" class="form-control" id="exampleFormControlInput1" name="titoloEntrata">
                                </div>
                                <div class=" col-sm-12 mb-3 text-center input-group flex-nowrap">
                                    <span class="input-group-text" id="addon-wrapping">€</span>
                                    <input type="text" class="form-control" id="exampleFormControlInput1" name="importoEntrata">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6 text-center">
                                    <label for="selectcategoria" class="form-label">Categoria</label>
                                    <select id="selectcategoria" class="form-select" aria-label="Default select example" name="categoriaEntrata">
                                <option selected>Scegli una categoria</option>
                                <option value="Stipendio">Stipendio</option>
                                <option value="PayPal">PayPal</option>
                                <option value="Altro">Altro</option>
                              </select>
                                </div>

                                <div class="col-sm-6 text-center">
                                    <label for="selectcategoria" class="form-label">Conto</label>
                                    <select id="selectcategoria" class="form-select" aria-label="Default select example" name="contoEntrata">
                                <option selected>Scegli un conto</option>
                                <option value="Hype">Hype</option>
                                <option value="PayPal">PayPal</option>
                                <option value="Banca">Banca</option>
                              </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 mb-3 mt-3 text-center">
                                    <label for="exampleFormControlTextarea1" class="form-label">Descrizione/Note</label>
                                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="noteEntrata"></textarea>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annulla</button>
                                <button type="submit" class="btn btn-primary">Aggiungi</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        </html>

        <script src="https://kit.fontawesome.com/d46dfd578e.js" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
        <script src="/javascript/charts.js"></script>